:root {
/* Colors */
  --background : #2f4858;
  --primary-text: white;
  --secondary-text: seashell;
  --color-when-hover: #f6ae2d;
  --secondary: #f26419;
}

body {
  background-color: var(--background);
}

.hero-image {
  background-image: url(../Assets/kilyan-sockalingum-8NH2_f5TxAA-unsplash.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}

.headingInfo {

  font-family: 'Space Grotesk', sans-serif;
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 24em;
}

.about-me-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--primary-text);;
  text-align: center;
}

.about-me-intro-text{
width: 45%;
}

.work-button{
  margin-right: 2em;
  font-size: 1.75em;
}

.contact:hover {

  text-decoration: none;
  color: var(--color-when-hover);
  border-color: var(--color-when-hover);
}

.intro-content {
  margin-top: 1.5em;
}

.idLinks {
  margin-top: .2em;
  margin-right: 2em;
}

.project-link {
  color: var(--color-when-hover);
}

.shuttle:hover {
  color: var(--color-when-hover);
  border-color: var(--color-when-hover);
}

.project-link:hover {
  font-size: 1.8em;
  text-decoration: none;
  color: var(--color-when-hover);
}

h5 a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

.contact {
  font-size: 0.5em;
  color: var(--secondary-text);
  background: none;
  border: 2px solid var(--secondary-text);
  border-radius: 5px;
}

.resumeBtn {
  font-size: 0.5em;
  color: var(--secondary-text);
  background: none;
  border: 2px solid var(--secondary-text);
  border-radius: 5px;
}

.resumeDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  padding-top: 2%;
}

h2 {
  text-align: center;
  margin-top: 1em;
  color: var(--secondary);
}

.box h3 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: auto;
  width: 75%;
  border-bottom: 2px solid var(--color-when-hover);
}

.box p {
  width: 80%;
  margin: auto;
  padding-top: 0.5em;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primary-text);
}

.box {
  flex: 1 1 150px;
  margin: 5px;

  width: 200px;
  height: auto;
}

#carouselExampleCaptions {
  width: 80%;
  margin: auto;
  height: auto;
}

.aside-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  color: var(--primary-text);
  width: 100%;
}

input {
  background-color: transparent;
  border: 2px solid var(--color-when-hover);
  border-radius: 5px;
  width: 75%;
  height: 1.5em;
  margin-top: 5px;
  font-size: 1.25em;
}
label {
  margin: 6px 0 2px 4px;
  font-size: 1.25em;
}
#contact {
  width: 340px;
}

textarea {
  background-color: transparent;
  border: 2px solid var(--color-when-hover);
  border-radius: 5px;
  resize: none;
  width: 255px;
  font-size: 1.25em;
}

.input {
  color: var(--primary-text);
  background-color: transparent;
  border: 2px solid var(--color-when-hover);
  border-radius: 5px;
  justify-content: center;
  padding: 2px 40px 0 40px;
  font-size: 1.5em;
  text-align: center;
}

.button {
  width: 100%;
  margin: auto;
  margin-top: 8px;
  padding-left: 45px;
}

.carousel-item {
  height: auto;
}

.contact-area {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
  padding: 1em;
  height: auto;
  width: 100%;
}

.contact-form {
  display: flex;
  justify-content: center;
}

.contact-area .box {
  flex: 0 1 300px;
  height: auto;
}

.contactTitle {
  margin-top: 2em;
}

.fa-linkedin {
  color: var(--primary-text);
  font-size: 1em;
}

.fa-github {
  color: var(--primary-text);
  font-size: 2em;
}

.fa {
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  text-decoration: none;
}

.social-icon {
  padding: 0.5em;
  align-items: center;
}

.projectCard {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.projectImage {
  display: block;
  width: 100%;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}
