body {
  background-color: #2f4858;
}

.hero-image {
  background-image: url(../Assets/kilyan-sockalingum-8NH2_f5TxAA-unsplash.jpg);
  min-height: 100vh;
  /* max-height: fit-content; */
  width: 100%;
  background-size: cover;
}

.headingInfo {
  /* height: 100%; */
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 24em;
}


.about-me-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 35%; */
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  text-align: center;
}

.about-me-intro-text{
width: 45%;
}

.work-button{
  margin-right: 2em;
  font-size: 1.75em;
}


.contact:hover {

  text-decoration: none;
  color: #f6ae2d;
  border-color: #f6ae2d;
}

.intro {
  font-size: 3em;
  color: seashell;
  width: 50%;
  height: 100%;
  margin: auto;
  /* padding: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-content {
  margin-top: 1.5em;
}

/* .intro-text {
  display: flex;
  justify-content: center;
} */

.idLinks {
  /* margin-left: 1.25em; */
  /* margin-bottom: 1em; */
  margin-top: .2em;
  margin-right: 2em;
}

.project-link {
  color: #f6ae2d;
}

.shuttle:hover {
  color: #f6ae2d;
  border-color: #f6ae2d;
}

.project-link:hover {
  font-size: 1.8em;
  text-decoration: none;
  color: #f6ae2d;
}

h5 a {
  text-decoration: none;
  color: #f26419;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #f26419;
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}


.intro p {
  font-size: 0.5em;
}

.contact {
  font-size: 0.5em;
  color: seashell;
  background: none;
  border: 2px solid seashell;
  border-radius: 5px;
}

.resumeBtn {
  font-size: 0.5em;
  color: seashell;
  background: none;
  border: 2px solid seashell;
  border-radius: 5px;
}

.resumeDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  padding-top: 2%;
  /* flex-direction: column; */
  /* align-items: center; */
}

h2 {
  text-align: center;
  margin-top: 1em;
  color: #f26419;
}

.box h3 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: auto;
  width: 75%;
  border-bottom: 2px solid #f6ae2d;
}

.box p {
  width: 80%;
  margin: auto;
  padding-top: 0.5em;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.box {
  flex: 1 1 150px;
  margin: 5px;

  width: 200px;
  height: auto;
}

#carouselExampleCaptions {
  width: 80%;
  margin: auto;
  height: auto;
}

.aside-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
}

input {
  background-color: transparent;
  border: 2px solid #f6ae2d;
  border-radius: 5px;
  width: 75%;
  height: 1.5em;
  margin-top: 5px;
  font-size: 1.25em;
}
label {
  margin: 6px 0 2px 4px;

  font-size: 1.25em;
}
#contact {
  width: 340px;
}

textarea {
  background-color: transparent;
  border: 2px solid #f6ae2d;
  border-radius: 5px;
  resize: none;
  width: 255px;
  font-size: 1.25em;
}

.input {
  color: white;
  background-color: transparent;
  border: 2px solid #f6ae2d;
  border-radius: 5px;
  justify-content: center;
  padding: 2px 40px 0 40px;
  font-size: 1.5em;
  text-align: center;
}

.button {
  width: 100%;
  margin: auto;
  margin-top: 8px;
  padding-left: 45px;
}

.carousel-item {
  height: auto;
}

.contact-area {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  margin-bottom: 1em;
  padding: 1em;
  height: auto;
  width: 100%;
}

.contact-form {
  display: flex;
  justify-content: center;
}

.contact-area .box {
  flex: 0 1 300px;
  height: auto;
}

/* .carousel {
  width: 640px;
  height: 360px;
} */

.contactTitle {
  margin-top: 2em;
}

.fa-linkedin {
  /* background: #3b5998; */
  /* background: #fff; */
  color: #fff;
  font-size: 1em;
}

.fa-github {
  /* background: #3b5998; */
  /* background: #fff; */
  color: #fff;
  font-size: 2em;
}

.fa {
  /* padding: 20px; */
  font-size: 2em;
  /* width: 65px; */
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  text-decoration: none;
}

.social-icon {
  /* display: flex; */
  padding: 0.5em;
  align-items: center;
}

/* .social-icon {
  display: flex;
  justify-content: center;
  padding: 2em;
} */

.projectCard {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.projectImage {
  display: block;
  width: 100%;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}
